.button-link {
  padding: 12px 22px;
  font-family: Montserrat, sans-serif;
  font-size: 16px;
  text-decoration: none;
  line-height: 2.5;
  border: 2px solid var(--color-primary-dark);
  background-color: var(--color-button-normal);
  border-radius: 8px;
  color: beige;
  font-weight: 600;
  transition: color 0.3s, background-color 0.3s;
}

.button-link:hover {
  background-color: transparent;
  color: rgba(17, 65, 11, 0.377);
}

.form-button {
  display: block;
  margin: 0 auto;
  padding: 0px 44px;
  font-family: Montserrat, sans-serif;
  font-size: 18px;
  line-height: 2.5;
  border: 2px solid var(--color-primary-dark);
  background-color: var(--color-button-normal);
  border-radius: 8px;
  color: beige;
  font-weight: 600;
  transition: color 0.3s, background-color 0.3s;
}

.form-button:hover {
  background-color: transparent;
  color: rgba(17, 65, 11, 0.377);
}
