.contact-field {
  display: none;

  @media screen and (min-width: $bp-tablet) {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__contactform-container {
   width: 600px;
  }

  &__form-field {
    padding-bottom: 22px;
  }
}

.contact-item {
  width: 500px;
  border-radius: 16px;
  position: relative;
}
.contact-h2 {
  padding-left: 20px;
  @media screen and (min-width: $bp-desktop) {
    padding: 0;
  }
}
.form-label {
  display: block;
}

.input {
  padding: 16px 42px;
  width: 100%;
  font-size: 16px;
  line-height: 1.17;
  border: 1px solid var(--color-secondary-dark);
  border-radius: 8px;
  background-color: transparent;
}

.input:focus {
  border-color: var(--color-primary-dark);
  outline: none;
}

.input::placeholder {
  font-size: 16px;
  line-height: 1.17;
}

.input:focus::placeholder {
  color: var(--color-primary-dark);
}

.form-label2 {
  font-weight: 300;
  font-size: medium;
  color: var(--color-primary-dark);
  margin-right: 24px;
}

.input2 {
  padding: 8px 42px;
  border: 1px solid var(--color-secondary-dark);
  border-radius: 8px;
  background-color: transparent;
  font-family: Montserrat, sans-serif;
}

.input2:focus {
  border-color: var(--color-primary-dark);
  outline: none;
}

.contact__button {
  @media screen and (min-width: $bp-tablet) {
    display: none;
  }
}


