.crew-content {
  justify-content: space-between;
  gap: 30px;

  @media screen and (min-width: $bp-desktop) {
    display: flex;
    justify-content: space-between;
    gap: 30px;
  }

  &__crew-text {
    padding: 0 20px;
    @media screen and (min-width: $bp-desktop) {
    width: 50%;
    padding: 0;
  }
  }
  
  &__crew-title {
    margin-bottom: 22px;
    @media screen and (min-width: $bp-desktop) {
      margin-bottom: 50px;
    }
  }

  &__about-text span {
    text-transform: uppercase;
    font-weight: 600;
  }
}

.crew-infographic {
  padding: 0 20px;
    @media screen and (min-width: $bp-desktop) {
    width: 50%;
  }
}

.infographic-row {
  display: flex;
  gap: 30px;
}

.infographic-item {
  border-radius: 15px;
  display: grid;
  background-color: var(--color-secondary-light);
  padding-top: 20px;
  padding-right: 18px;
  padding-bottom: 26px;
  width: 50%;
  justify-content: center;
  align-content: center;
  @media screen and (min-width: $bp-desktop) {
    padding-top: 30px;
    padding-bottom: 36px;
  }
}

.infographic-item2 {
  border-radius: 15px;
  display: grid;
  background-color: var(--color-secondary-light);
  padding-top: 20px;
  padding-left: 18px;
  padding-bottom: 26px;
  width: 50%;
  justify-content: center;
  align-content: center;
  @media screen and (min-width: $bp-desktop) {
    padding-top: 30px;
    padding-bottom: 36px;
  }
}

.infographic-item img {
  text-align: center;
  margin: 0 auto;
  width: 40px;
  height: 40px;
  @media screen and (min-width: $bp-desktop) {
    width: 80px;
    height: 80px;
  }
}

.infographic-item2 img {
  text-align: center;
  margin: 0 auto;
  width: 40px;
  height: 40px;
  @media screen and (min-width: $bp-desktop) {
    width: 80px;
    height: 80px;
  }
}

.infographic-text {
  margin-bottom: 0;
  font-size: 11px;
  @media screen and (min-width: $bp-tablet) {
    margin-bottom: 0;
    font-size: 18px;
  }
}

.infographic-text span {
  font-size: 24px;
  font-weight: 600;
  margin-top: 10px;
  color: var(--color-button-normal);
  @media screen and (min-width: $bp-desktop) {
    font-size: 40px;
    font-weight: 900;
    margin-top: 16px;
  }
}

.infographic-text2 {
  text-align: right;
  margin-bottom: 0;
  font-size: 11px;
  @media screen and (min-width: $bp-tablet) {
    margin-bottom: 0;
    font-size: 18px;
  }
}

.infographic-text2 span {
  font-size: 24px;
  font-weight: 600;
  margin-top: 10px;
  color: var(--color-button-normal);
  @media screen and (min-width: $bp-desktop) {
    font-size: 40px;
    font-weight: 900;
    margin-top: 16px;
  }
}

.infographic-bg-logo {
  width: 108px;
  height: 108px;
  margin: 0 auto;
  z-index: 1;
  position: relative;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: -53px;
  background-color: #fff;
  margin-bottom: -33px;
  @media screen and (min-width: $bp-desktop) {
    width: 188px;
    height: 188px;
    margin: 0 auto;
    z-index: 1;
    position: relative;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: -73px;
    background-color: #fff;
    margin-bottom: -93px;
  }
}

.infographic-logo {
  padding: 35px;
  width: 98px;
  height: 98px;
  background-color: var(--color-secondary-dark);
  border-radius: 50%;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  justify-content: center;
  text-align: center;
  margin: 0 auto;
  position: relative;
  @media screen and (min-width: $bp-desktop) {
    padding: 35px;
    background-color: var(--color-secondary-dark);
    border-radius: 50%;
    z-index: 1;
    width: 168px;
    height: 168px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    justify-content: center;
    text-align: center;
    margin: 0 auto;
    position: relative;
  }
}

.minilogo {
  width: 73px;
  height: 75px;
  @media screen and (min-width: $bp-desktop) {
    width: 111px;
    height: 113px;
}
}
