.header-link {
  color: var(--color-primary-dark);
  text-decoration: none;
  font-weight: 600;
  transition: color 0.3s;
}

.header-link:hover {
  color: var(--color-secondary-dark);
  font-weight: 600;
}

.word-link {
  color: #0d2424;
  text-decoration: none;
  font-weight: 700;
  transition: color 0.3s;
}

.word-link:hover {
  color: var(--color-secondary-dark);
  font-weight: 700;
}
