.price-section {
    max-width: 1100px;
    min-width: 320px;
    width: 100%;
    margin: auto;
    padding-right: 20px;
    padding-left: 20px;
    margin-right: auto;
    margin-left: auto;
}

.price-title {
    margin-bottom: 22px;
    @media screen and (min-width: $bp-desktop) {
      margin-bottom: 50px;
    }    
}

.price-content {
    margin-bottom: 16px;
    background-image: 
     url("../illustrations/price.png");
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
    box-shadow: 0 8px 15px rgba(0, 0, 0, .08);
    border-radius: 15px;
    }

.subject {
    margin: -1px 0 0;

    @media screen and (min-width: $bp-tablet) {
        display: flex;
        flex-flow: row wrap;
        margin: -1px 0 0;
      }
    }

.subject-col {
    width: 100%;
    border: 2px solid var(--color-primary-light);
    border-left: 0;
    margin-bottom: -1px;

    @media screen and (min-width: $bp-tablet) {
        width: 33.33333333%;
        border: 2px solid var(--color-primary-light);
        border-left: 0;
        margin-bottom: -1px;
      }
    }

.subject-in {
    padding-top: 10px;
    padding-left: 10px;

    @media screen and (min-width: $bp-tablet) {
        position: relative;
        display: flex;
        width: 100%;
        padding: 20px 30px;
      }
    }

.subject-main {
    margin-left: 15px;
    }

.subject-name {
    display: inline-block;
    margin-bottom: 10px;
    font-weight: 600;
    font-size: 18px;
    line-height: 135%;
    }

.subject-info span {
    font-weight: 700;
    color: var(--color-button-normal);
    }
