:root {
  --color-button-normal: #358282;
  --color-primary-light: #dfd3c5;
  --color-secondary-dark: #bd9f7b;
  --color-primary-dark: #525a1f;
  --color-secondary-light: #c8bb66;

  }

  $bp-mobile: 480px;
  $bp-tablet: 768px;
  $bp-desktop: 1280px;
